[Desktop Entry]
Version=1.0
Type=Application
Name=IP Record Route Ping
Comment=Sends Ping with IP RR option set
Exec=/home/lab-user/Desktop/Lab-Files/EDU-210/tracer.sh
Icon=brasero
Path=/home/lab-user/Desktop/Lab-Files/EDU-210/
Terminal=true
StartupNotify=false
