[Desktop Entry]
Version=1.0
Type=Application
Name=SYN Flood
Comment=Geneates SYN flood traffic
Exec=/home/lab-user/Desktop/Lab-Files/EDU-210/synflood.sh
Icon=utilities-system-monitor
Path=/home/lab-user/Desktop/Lab-Files/EDU-210/
Terminal=true
StartupNotify=false
