[Desktop Entry]
Version=1.0
Type=Application
Name=User-ID Data
Comment=Uploads User information to firewall
Exec=/home/lab-user/Desktop/Lab-Files/Common/upload-userID.sh
Icon=cs-cat-admin
Path=/home/lab-user/Desktop/Lab-Files/Common/
Terminal=true
StartupNotify=false
